<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/gen"><span class="glyphicon glyphicon-user"></span> Cool Faces</a>
      </li>
      <li>
        <a href="https://sssammi.github.io"><span class="glyphicon glyphicon-link"></span> Check out my GitHub page!</a>
      </li>
    </ul>
  </div>
</nav>
