<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Random ASCII Face Generator</h1>
    <p>Click the button below to see a random face.</p>
      <h3>
        <a type="button" class="btn btn-lg btn-default" href="/cool">Click me!</a></h3>
  </div>
</div>

</body>
</html>
